<p class="h1">Crear Poderes</p>

<form>
  <div class="form-group">
      <label for="email">Poder:</label>
      <input #txtPoder type="text" id="txtPoder" name="txtPoder" class="form-control">
    </div>
  <button (click)="crearPoder(txtPoder.value)" class="btn btn-primary">Crear Poder </button>
</form>
<hr />
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Poder</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poder of lPoderes;let indice=index">
      <td scope="row">
      {{indice+1}}
      <td>{{poder.nombre}}</td>
    </tr>
  </tbody>
</table>
